@page
@model FamilyHubModel

@{
    ViewData["Title"] = "Family Hubs";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @{
            if (ModelState.Any())
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#postcode-hub">
                                    @{
                                        foreach (var modelError in ModelState)
                                        {
                                            if (modelError.Value.Errors.Count > 0)
                                            {
                                                <span>@modelError.Value.Errors.FirstOrDefault().ErrorMessage</span>
                                            }
                                        }
                                    }
                                </a>
                            </li>
                            <li>&nbsp;</li>
                            <li><span>Check it and enter it again.</span></li>
                        </ul>
                    </div>
                </div>
            }
        }
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
            What is a family hub?
        </h1>

        <p>Family hubs bring together local services in one place for families.</p>
        <p>Family hubs offer a wide range of services for the whole family, including:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>babies</li>
            <li>children</li>
            <li>teenagers up to age 19</li>
            <li>parents and carers</li>
            <li>young people with special educational needs and disabilities up to age 25</li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
            What do family hubs offer?
        </h2>

        <p>Each hub or children’s centre offers a different range of services and activities, for example:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>breastfeeding support</li>
            <li>child development clinics</li>
            <li>parenting workshops</li>
            <li>mental health help </li>
            <li>groups and clubs</li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
            Where are family hubs?
        </h2>

        <p>
            There is normally a base for a family hub or children’s centre.
            Some services may run from different locations, like community centres or health clinics.
        </p>

        <p>
            There are family hubs all over England, run by local councils.
            You can search here to find family hubs near you, or children’s centres, which may offer similar services.
        </p>

        <form id="main-content-form" method="post">
            <div class="govuk-form-group @(ModelState.Any() ? "govuk-form-group--error" : "")">
                <label class="govuk-label govuk-label--s" for="postcode-hub">
                    Enter postcode
                </label>
                @{
                    if (ModelState.Any())
                    {
                        <p id="postcode-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            @{
                                foreach (var modelError in ModelState)
                                {
                                    if (modelError.Value.Errors.Count > 0)
                                    {
                                        <span>@modelError.Value.Errors.FirstOrDefault().ErrorMessage</span>
                                    }
                                }
                            }
                        </p>
                    }
                }
                <input class="govuk-input govuk-input--width-10 @(ModelState.Any() ? "govuk-input--error" : "")" id="postcode-hub" type="text" maxlength="8" autocomplete="postal-code" asp-for="@Model.Postcode" value="@Model.Postcode">
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Search
            </button>
        </form>
    </div>
</div>