@page
@model FamilyHubModel

@{
    ViewData["Title"] = "Family Hubs";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @{
            if (ModelState.Any())
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#postcode-hub">
                                    @{
                                        foreach (var modelError in ModelState)
                                        {
                                            if (modelError.Value.Errors.Count > 0)
                                            {
                                                <span>@modelError.Value.Errors.FirstOrDefault().ErrorMessage</span>
                                            }
                                        }
                                    }
                                </a>
                            </li>
                            <li>&nbsp;</li>
                            <li><span>Check it and enter it again.</span></li>
                        </ul>
                    </div>
                </div>
            }
        }
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
            Find a family hub
        </h1>

        <p>If you want to meet other families and find out more about local family support services, your nearest family hub or children’s centre can point you in the right direction.</p>
        <p>There are family hubs all over England, run by local councils.</p>
        <p>Search here to find family hubs near you.</p>

        <form id="main-content-form" method="post">
            <div class="govuk-form-group @(ModelState.Any() ? "govuk-form-group--error" : "")">
                <label class="govuk-label govuk-label--s" for="postcode-hub">
                    Enter postcode
                </label>
                @{
                    if (ModelState.Any())
                    {
                        <p id="postcode-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            @{
                                foreach (var modelError in ModelState)
                                {
                                    if (modelError.Value.Errors.Count > 0)
                                    {
                                        <span>@modelError.Value.Errors.FirstOrDefault().ErrorMessage</span>
                                    }
                                }
                            }
                        </p>
                    }
                }
                <input class="govuk-input govuk-input--width-10 @(ModelState.Any() ? "govuk-input--error" : "")" id="postcode-hub" type="text" maxlength="8" autocomplete="postal-code" asp-for="@Model.Postcode" value="@Model.Postcode">
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

            <p>As this service is new, not all family hubs will be listed. If there are no family hubs listed in your area, you will be signposted to your council website.</p>
            <div class="govuk-inset-text"> Some family hubs services are only available to local residents.</div>
        </form>
    </div>
</div>